/.vs
/packages
/SendFile/SendFile/bin
/SendFile/SendFile/obj
/Ghostscript.NET.Viewer/obj
/Ghostscript.NET.Viewer/bin
/Ghostscript.NET.Samples/bin
/Ghostscript.NET.Samples/obj
/Ghostscript.NET.DisplayTest/obj
/Ghostscript.NET.DisplayTest/bin
/Ghostscript.NET/obj
/Ghostscript.NET/bin
/ConsoleApp1/bin
/ConsoleApp1/obj
